@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');


html,
body {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    flex-direction: column;
    font-family: "Kumbh Sans", sans-serif;



}

main {
    width: 90%;
    margin: auto;
    margin-top: 100px;


}

article {
    max-width: 500px;
    margin: 40px auto;
    background-color: hsl(240, 5%, 91%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.slogan {
    width: 200px;
    margin: -90px auto;
}

.pattern {
    display: block;
    width: 100%;
    margin: -60px auto;
}


.card {
    margin-top: 150px;
    width: 90%;

}

.card h2 {
    text-align: center;
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

summary:hover {
    color: hsl(14, 88%, 65%);
}

details[open] summary {
    font-weight: bold;
}

.arrow {
    transform: rotate(180deg);
}

/*details[open] .icon {
    transform: rotate(180deg);
}*/

details {
    height: 90px;
}

details p {
    color: hsl(240, 6%, 50%);
}

footer {
    text-align: center;

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {

    main {}

    article {
        flex-direction: row;
        max-width: 1100px;
        overflow: hidden;

    }

    .slogan {
        width: 40%;
        position: relative;
        right: 50px;

    }

    .card {
        margin-top: 20px;
        padding: 20px;
        width: 60%;
        margin-right: 20px;
    }

    .card h2 {
        text-align: left;
    }




}